[submodule "arcdps_mock"]
	path = arcdps_mock
	url = https://github.com/Krappa322/arcdps_mock
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
